var new_comment = $("<%= excape_javascript(render(:partical => @comment))%>:).hide();
$("#comments").prepend(new_comment);
$("#comment_<% = @comment.id %>").fadeIn('slow');
$("#new_comment")[0].reset();
